@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* импорт шрифта из Roboto */

@font-face {
    font-family: kali2; src: url("Roboto/Roboto-Italic.ttf");
}

body {
    background-color: #cfcfcf;
    /* цвет фона */
    /* color: black; */
    /* цвет букв */

    font-size: 16px;
    /* размер букв */
    font-weight: normal;
    /* жирность */
    font-family: 'Roboto', sans-serif;
    /* стиль шрифта, из интернета */
    
    /* font:normal 16px 'Roboto', sans-serif; */

    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* стиль шрифта */

    /* margin: auto; */
}

.kenichic {
    width: 200px;
    /* размер img */
    border-radius: 28px;
    /* закругление img */
    box-shadow: -9px 9px 17px 0px rgba(13, 7, 107, 0.733);
    /* тень от img */
}
/* при id(class) используется #(решётка) */

.info p {
    color: rgba(15, 14, 13, 0.678);
    margin: 0px;
    /* font-style: italic; */
    /* наклонный шрифт */

    font-family: kali2, sans-serif;
    /* font-family: 'Roboto', sans-serif; */

    /* font-weight: 600; */
    /* жирный шрифт */

    /* text-decoration: underline; */
    /* линия подчёркивания */

    /* text-transform: uppercase; */
    /* все буквы заглавные */

    /* letter-spacing: 10px; */
    /* расстояние между буквами */

    word-spacing: 10px;
    /* расстояние мужду словами */
}

/* Box model */
.info2 {
    background-color: steelblue;
    /* padding: 5px; */
    /* padding: 10px 15px; */
    /* padding: 10px 16px 25px 36px; */
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 21px;
    padding-left: 25px;
    /* margin: 15px; */
    margin: 20px 15px;

    border: 10px solid green;
    border-bottom-style: dotted;
    border-right-width: 25px;
    border-top-color: red;
}

.container {
    max-width: 800px;
    /* размер блока */
    margin: auto;
    /* расположение блока */
}

.ots2 {
    margin-bottom: 500px;
    padding: 10px;
    /* background-color: red; */
    border: 10px solid #32a1ce;
    border-top-width: 30px;
    border-top-color: yellow;
    margin-top: 300px;
    /* float: left; */
}

.box_model > div {
    background: black;
    height: 100px;
    width: 25%;
    float: right;
    /* margin: 10px; */
    border: 8px solid green;
    box-sizing: border-box;
    /* добавляет бордер в элемент(по умолчанию бордед и маржин не входят в элемент) */
}

