@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* импорт шрифта из Roboto */

@font-face {
    font-family: kali2; src: url("Roboto/Roboto-Italic.ttf");
}

.font_my {
    font-family: kali2, sans-serif;
}

body {
    background-color: #cfcfcf;
    /* цвет фона */
    /* color: black; */
    /* цвет букв */

    font-size: 16px;
    /* размер букв */
    /* font-weight: normal; */
    /* жирность */
    font-family: 'Roboto', sans-serif;
    /* стиль шрифта, из интернета */
    
    /* font:normal 16px 'Roboto', sans-serif; */

    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* стиль шрифта */

    /* margin: auto; */
}

.kenichic {
    width: 200px;
    /* размер img */
    border-radius: 30px;
    /* закругление img */
    box-shadow: -9px 9px 17px 0px rgba(13, 7, 107, 0.733);
    /* тень от img */
    margin: 0 40px;
}
/* при id(class) используется #(решётка) */

/* .info img, .info p {
    float: left;
    margin: 10px auto;
    margin: 20px;
} */

.info {
    display: flex;
    margin-bottom: 50px;
    align-items: flex-end;
}

/* .info li {
    display: inline-block;
    width: fit-content;
    margin: 20px;
} */

h1 {
    margin: 10px;
}

.h1r {
    /* width: fit-content;
    margin: 10px auto; */
    text-align: center;
    /* расположение текста */
}

.info p {
    color: rgba(15, 14, 13, 0.678);
    /* margin: 0px 15px; */
    /* font-style: italic; */
    /* наклонный шрифт */

    font-family: kali2, sans-serif;
    /* font-family: 'Roboto', sans-serif; */

    /* font-weight: 600; */
    /* жирный шрифт */

    /* text-decoration: underline; */
    /* линия подчёркивания */

    /* text-transform: uppercase; */
    /* все буквы заглавные */

    /* letter-spacing: 10px; */
    /* расстояние между буквами */

    word-spacing: 10px;
    /* расстояние мужду словами */

    line-height: 1.4;
    /* расстояние мужду строками */

    /* margin-top: 200px; */
    /* width: fit-content; */
    
    /* text-align: center; */
    /* расположение текста */
    height: fit-content;
    /* margin-top: 150px; */
}

/* Box model */
.info2 {
    /* background-color: steelblue; */
    padding: 15px;
    /* padding: 10px 15px; */
    /* padding: 10px 16px 25px 36px; */
    /* padding-top: 10px; */
    /* padding-right: 15px; */
    /* padding-bottom: 21px; */
    /* padding-left: 25px; */
    margin: 15px;
    /* margin: 20px 15px; */

    /* border: 10px solid green; */
    /* border-bottom-style: dotted; */
    /* border пунктиром */
    /* border-right-width: 25px; */
    /* border-top-color: red; */
    border-radius: 20px;
}

h2 {
    margin: 10px;
    margin-bottom: 30px;
}

.container {
    max-width: 800px;
    /* размер блока */
    margin: auto;
    /* расположение блока */
}

.box_model > div {
    background: black;
    height: 100px;
    width: 25%;
    float: right;
    /* margin: 10px; */
    border: 8px solid green;
    box-sizing: border-box;
    /* добавляет бордер в элемент(по умолчанию бордед и маржин не входят в элемент) */
}

.mar {
    margin: 10px;
}

.box_model {
    margin: 30px 10px;
}

a {
    text-decoration: none;
    color: rgb(11, 22, 180);
    text-align: center;
}

a:hover {
    text-decoration: underline;
}
/* наведение на ссылку */

a:active {
    color: rgb(8, 8, 121);
}
/* действие с ссылкой */

/* a:visited {
    color: cadetblue;
} */
/* ранее посещённые ссылки */

.card {
    /* background: brown; */
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
/* при задинии padding отступы пропадают, между div автоматические отступы */

.color_fon1 {
    background-color: #fff9dc;
}

.color_fon2 {
    background-color: #e5ffe7;
}

.color_fon3 {
    background-color: #ffe5e5;
}

.card h3 {
    margin-bottom: 5px;
}

.card ul {
    margin: 5px;
    padding: 10px;
}

.card li {
    display: inline;
    /* list-style: lower-latin; */
}

.ol_2 {
    padding: 0px 5px;
    margin: 0px;
    list-style: none;
    /* убирает цифры или точки из списка при перечислении */
}

/* * {
    padding: 0px;
} */
/* '*'- обращение ко всем элементам (можно убрать отступы по умолчанию) */

.ol_2 li {
    margin: 5px;
    border-bottom: 1px solid black;
}

.table {
    width: 100%;
    border-spacing: 0;
    /* расстояние между ячейками */
    margin-top: 20px;
    margin-bottom: 80px;
}

.table td {
    padding: 10px;
}

.table th {
    border-bottom: 1px solid gray;
}

.table th:nth-child(1), .table th:nth-child(2), .table th:nth-child(3), .table th:nth-child(4) {
    border-right: 1px solid gray;
}

.table th:nth-child(1) {
    border-left: 1px solid gray;
}

.table td:nth-child(4), .table td:nth-child(3) {
    color: gray;
}
/* выбор определенных элементов в соответствии с их порядковым расположением
even - чётные, odd - нечётные */

.table td:nth-child(1), .table td:nth-child(2), .table td:nth-child(3), .table td:nth-child(4) {
    border-right: 1px solid gray;
}

.table td:nth-child(1) {
    border-left: 1px solid gray;
}

.img_s {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    box-shadow: -9px 9px 20px 5px gray;
    margin-bottom: 20px;
}

.lgbt {
    display: flex;
}

.lgbt a, .lgbt img {
    margin: 30px;
    margin-top: 0;
}

.lgbt a {
    display: block;
}

.lgbt {
    border-bottom: 1px solid gray;
}

.lgbt li {
    margin: 10px;
    padding: 5px;
}

.spit {
    margin-top: 200px;
}

.contecxt h2 {
    text-align: center;
}

.form-gr label {
    display: block;
    /* помещает элемент на отдельную строку */
    font-size: 16px;
    color: rgb(66, 65, 65);
}

.form-gr input, .form-gr textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    /* прозрачность */
    border-bottom: 1px solid gray;
    padding: 15px 0 10px;
    outline: none;
    /* граница при взаимодействии */
    font-family: inherit;
    /* такой же шрифт как и заданный общий */
    color: black;
    margin: 10px 0;
}

.row {
    display: flex;
    margin-bottom: 50px;
}

.row > .form-gr {
    width: 50%;
}

.row > .form-gr:first-child {
    margin-right: 20px;
}

.btn {
    font-family: inherit;
    padding: 20px;
    border: none;
    cursor: pointer;
    /* изменяет курсор при наведении на элемент */
}

.btn:hover {
    opacity: 0.6;
    /* придаёт серость, интерактивная кнопка */
}

/* Position */

.position {
    border: 1px solid black;
    padding: 20px;
    position: relative;
    /* позиционирование относительно элемента .position */
    height: 300px;
}

.box {
    width: 60px;
    height: 60px;
    background: violet;
    position: absolute;
    /* позиционирование относительно рабочего окна */
    /* top: 60px; */
}
